<%- include('../partials/header.ejs') %>

<div class="jukely-main-container">

    <!-- First Div: Song Search Form -->
    <div class="search-container animate__animated animate__fadeInRight">
        <div class="queue-title">
            <h1>ADD A SONG</h1>
        </div>
            <% if (user) { %>
        <div>
            <form class="Form" id="add-song" action="/songs" method="POST">
                <fieldset>
                    <legend><em>ADD YOUR REQUEST:</em></legend>
                    <div class="inputBox">
                        <input type="text" id="title" name="title" size="30" required>
                        <label for="title">Song Title:</label>
                    </div>
                    
                    <div class="inputBox">
                        <input type="text" id="artist" name="artist" size="30" required>
                        <label for="artist">Artist:</label>
                    </div>
                
                    <div class="inputBox">
                        <input type="url" id="youTubeURL" name="youTubeURL" size="30" required
                        pattern="https?://(youtu\.be/|www\.youtube\.com/watch\?v=).*" 
                        title="Please enter a valid YouTube URL">
                        <label for="youTubeURL">YouTube URL:</label>
                    </div>
                </fieldset>                
                </form>
        </div>        
        <div class="button-container">
            <button type="submit" form="add-song"><i class="fa-solid fa-plus fa-shake" style="--fa-animation-iteration-count: 5;" ></i> Add</button>
        </div>
        <% } else { %>
            <div class="message">
                <p style="text-align: justify;">Please
                <a href="/auth/login">
                <i class="fa-solid fa-arrow-right-to-bracket fa-beat-fade fa-xs" style="color: #fdff83; vertical-align: 2px; --fa-animation-iteration-count: 25;"></i> log in</a> or 
                <a href="/auth/sign-up"><i class="fa-solid fa-square-caret-up fa-beat-fade fa-xs" style="color: #f8e671; vertical-align: 1px; --fa-animation-iteration-count: 25;"></i> sign up</a>
                 to queue a song.</p>
            </div>
        <% } %>
    </div>

    <!-- Second Div: Queue Container -->
    <div class="queue-container animate__animated animate__flipInY">
        <div class="queue-title">
            <h1>QUEUE</h1>
            <div class="filter-container" style="align-items: center;">
                <form action="/songs" method="get">
                    <label for="filter">Filter:</label>
                    <select class="filter-dropdown" name="filter" id="filter" onchange="this.form.submit()">
                        <option value="all" <%= filter === 'all' ? 'selected' : '' %>>All Songs</option>
                        <option value="unplayed" <%= filter === 'unplayed' ? 'selected' : '' %>>Unplayed</option>
                        <option value="played" <%= filter === 'played' ? 'selected' : '' %>>Played</option>
                    </select>
                </form>
            </div>
        </div>
        <% if (songs.length === 0) { %>
            <h1>There are no songs in the queue.</h1>
        <% } else { %>
        <div class="request-card">
                <% songs.forEach(song => { %>
                    <div class="requestItem <% if (song.played) { %> played <% } %>">
                        <%- include('../partials/recordIcon.ejs') %>
                        <div class="songInformation">

                        <% if (song.user && user && song.user._id.equals(user._id)) { %> 
                            <a style="display: block; text-align: left;" href="/songs/<%= song._id %>"><span id="title-<%= song._id %>"><%= song.title %></span></a>
                        <% } else { %>
                            <span style="display: block; text-align: left;""><span id="title-<%= song._id %>"><%= song.title %></span></span>
                        <% } %>

                        <span style="display: block; text-align: left;""> 
                            by: <span id="artist-<%= song._id %>" style="color: rgb(205, 205, 205);"><%= song.artist %></span> 
                        </span>

                         <span style="display: block; text-align: left;"">
                            <em>Requested by: <span id="user-<%= song._id %>" style="color: rgb(205, 205, 205);"><%= song.user ? song.user.name : 'Deleted User' %> </span> </em>
                        </span> 
                        
                        <a href="#" onclick="openInIframe('<%= song.youTubeURL %>', this, '<%= song._id %>')">▶ Play</a> &nbsp; | &nbsp;
            
                        <% if (song.user && user && song.user._id.equals(user._id)) { %>
                            <form action="/songs/<%= song._id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button class="smallBtn" type="submit">❌ DELETE</button> 
                            </form>
                        <% } %>

                        </div>
                    </div>    
                <% }) %>
        </div>        
        <% } %>
        <div class="action-links">
            <a class="backLink" href="/songs/new" style="text-decoration: none;"><i class="fa-solid fa-arrow-up-right-from-square"></i> Add a Song</a>
            <form action="/songs/reset-played?_method=PUT" method="POST" style="display:inline;">
                <button type="submit" class="resetLink">🏳 Reset Played</button>
            </form>
        </div>        
    </div>

    <!-- Third Div: Media Player Container -->
    <div class="media-player-container">
        <div class="mediaPlayer animate__animated animate__fadeInLeft">
            <h1>NOW PLAYING</h1>
            <div id="videoPlayer"></div>
        </div>
        <div class="song-info-banner animate__animated animate__fadeInLeft">
            <p id="songTitle">Title: </p>
            <p id="songArtist">Artist: </p>
            <p id="songRequester">Requested by: </p>
        </div>
    </div>

    <!-- Fourth Div: Media Controls -->
    <%- include('../partials/mediaControls.ejs') %>


</div>

<%- include('../partials/footer.ejs') %>
